html {
  background-image: url("../torii_bg.jpg");
  box-shadow: inset 0px 0px 10px black;
  height: 100%;
}

figure {
  width: 462px;
  margin: auto;

}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 462px;
  padding: 0;
  border: 6px solid black;
  box-sizing: border-box;
  align-self: center;
}

ul li {
  color: black;
  font-family: 'Nova Round', cursive;
  display: flex;
  width: 150px;
  height: 153px;
  border: 10px solid black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 400;
}

ul li:hover {
  background: yellow;
}

h1 {
  text-align: center;
  font-family: 'Nova Round', cursive;
  font-weight: 400;
  font-size: 80px;
  color: black;
  line-height: 70px;
  margin-bottom: 24px;
}


congrats {
  text-align: center;
  font-family: 'Nova Round', cursive;
  font-size: 60px;
  font-weight: 400;
  line-height: 36px;
  color: #f3f6d9;
  text-shadow: 0px 0px 8px #1f272a;
  display: block;
  font-size: 88px;
  text-align: center;
  padding: 24px;
}
